---
import '../styles/global.css';
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import heroImage from '../assets/hero-img.png';
import proiectImgLarge from '../assets/despre_proiect_big.jpeg';
import proiectImg1 from '../assets/despre_proiect_1.jpeg';
import proiectImg2 from '../assets/despre_proiect_2.jpeg';
import heroLogo from '../assets/hero-logo-ded.svg';
import Location from '../components/Location.astro';
import SectionTitle from '../components/SectionTitle.astro';
import ApartmentShowcase from '../components/ApartmentShowcase.svelte';
import Finish from '../components/Finish.astro';
import { techDetails } from '../config/techDetails.ts';
import Dotari from '../components/Dotari.astro';
---

<Layout title="Proiect Rezidential - Nosto">
  <!-- Hero Section -->
  <section id="about" class="relative h-screen w-full overflow-hidden">
    <Image
      src={heroImage}
      alt="Apartment Building"
      class="w-full h-full object-cover object-center"
    />
    <Image
      src={heroLogo}
      alt="Hero Logo"
      class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2"
    />
  </section>

  <SectionTitle title="Prezentarea generală a proiectului" id="despre-proiect-title" class="pt-8" />
  <section id="despre" class="section-x-padding bg-main pt-8">
    <div class="flex flex-col mx-auto">
      <div class="w-full mb-4">
        <h1>
          Proiect NOU in TIMIȘOARA, vânzare direct de la dezvoltator, apartamente cu finisaje
          moderne si de calitate, preturi competitive, zonă liniștită si verde preponderent
          rezidențiala. Apartamentele de vânzare din acest proiect se diferențiază prin atenția
          acordată spațiului de locuit și finisajelor. Fiecare apartament a fost supus unui studiu,
          în vederea optimizării spațiului și a funcționalității acestuia. Planurile de prezentare
          vin și cu o propunere concretă de mobilare, ajutând la o mai bună apreciere a spațiului și
          a măsurii în care acesta corespunde nevoilor dumneavoastră.
        </h1>
      </div>

      <div class="flex flex-col md:flex-row gap-8">
        <div class="md:w-1/2">
          <Image
            src={proiectImgLarge}
            alt="Building Interior"
            class="shadow-lg w-full h-full object-cover"
          />
        </div>

        <div class="md:w-1/2 flex flex-col gap-8">
          <div class="flex gap-4 h-1/2">
            <div class="w-1/2">
              <Image
                src={proiectImg1}
                alt="Interior Detail 1"
                class="shadow-lg w-full h-full object-cover"
              />
            </div>
            <div class="w-1/2">
              <Image
                src={proiectImg2}
                alt="Interior Detail 2"
                class="shadow-lg w-full h-full object-cover"
              />
            </div>
          </div>

          <div class="h-1/2">
            <p class="mb-2">
              Un preț corect și competitiv oferă o valoare excelentă banilor investiți în acest
              proiect.
            </p>
            <ul class="space-y-2">
              <li class="flex items-center">
                <span class="w-6 h-6 mr-2">✓</span>
                Calitatea bună a construcției,
              </li>
              <li class="flex items-center">
                <span class="w-6 h-6 mr-2">✓</span>
                finisajele moderne,
              </li>
              <li class="flex items-center">
                <span class="w-6 h-6 mr-2">✓</span>
                o zonă liniștită și bine conectată în Timișoara.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Apartments Section -->
  <section class="pt-12 pb-0 bg-main">
    <SectionTitle title="Tipuri de Apartamente" id="apartamente-title" />
    <div class="max-w-[95vw] lg:max-w-[1600px] mx-auto px-2 sm:px-6 lg:px-8">
      <ApartmentShowcase
        client:load
        apartments={[
          {
            type: 'STUDIO',
            mobileType: 'STUDIO',
            size: '45mp',
            description:
              'Apartamentele de 1 cameră le-am transformat în spații de locuit funcționale, în apartamente tip studio, cu delimitarea zonei de zi de zona de noapte prin crearea unei nișe care să îndeplinească funcția de dormitor.',
            planImage:
              'https://www.conceptdraw.com/samples/resource/images/solutions//Building-Floor-Plans-House-Plan-Sample.png',
          },
          {
            type: '1.5 CAMERE',
            mobileType: '1.5 CAM',
            size: '65mp',
            description:
              'Chiar dacă are o suprafața redusă față de standardul apartamentelor de 2 camere acest tip de apartament îndeplinește  cu succes funcțiile unui apartament de 2 camere.',
            planImage:
              'https://www.conceptdraw.com/samples/resource/images/solutions//Building-Floor-Plans-House-Plan-Sample.png',
          },
          {
            type: '2 CAMERE',
            mobileType: '2 CAM',
            size: '85mp',
            description:
              'Apartamente decomandate, potrivite familiilor care își doresc bucătărie închisă sau care vor camere separate.',
            planImage:
              'https://www.conceptdraw.com/samples/resource/images/solutions//Building-Floor-Plans-House-Plan-Sample.png',
          },
          {
            type: '2.5 CAMERE',
            mobileType: '2.5 CAM',
            size: '85mp',
            description:
              'Apartamentele de 2 camere cu suprafețe mai generoase au fost transformate în apartamente tip 2,5 camere , cu 1 zonă de zi + bucătărie, 1 dormitor, 1 birou/cameră copii, cu intenția de a răspunde celor care au nevoie de o a treia cameră (chiar dacă aceasta este de dimensiuni reduse) dar nu au buget pentru un apartament de 3 camere.',
            planImage:
              'https://www.conceptdraw.com/samples/resource/images/solutions//Building-Floor-Plans-House-Plan-Sample.png',
          },
          {
            type: '3 CAMERE',
            mobileType: '3 CAM',
            size: '85mp',
            description:
              'Apartament pentru familii cu copii. Suprafața decentă, cele două băii precum si cămara aferentă bucătăriei satisface nevoile unei familii  cu 3 sau 4 membri.',
            planImage:
              'https://www.conceptdraw.com/samples/resource/images/solutions//Building-Floor-Plans-House-Plan-Sample.png',
          },
          {
            type: '4 CAMERE',
            mobileType: '4 CAM',
            size: '85mp',
            description:
              'Apartamentele de 4 camere au suprafețe mari și beneficiază de terase generoase, pentru familiile care își doresc și un spațiu exterior tip TERASĂ, nu doar un balcon.',
            planImage:
              'https://www.conceptdraw.com/samples/resource/images/solutions//Building-Floor-Plans-House-Plan-Sample.png',
          },
          {
            type: '5 CAMERE',
            mobileType: '5 CAM',
            size: '85mp',
            description:
              'Apartamentele de 4 camere au suprafețe mari și beneficiază de terase generoase, pentru familiile care își doresc și un spațiu exterior tip TERASĂ, nu doar un balcon.',
            planImage:
              'https://www.conceptdraw.com/samples/resource/images/solutions//Building-Floor-Plans-House-Plan-Sample.png',
          },
        ]}
      />
    </div>
  </section>

  <!-- Packages Section -->
  <section id="finisaje" class="pt-0 pb-12 bg-main w-full">
    <SectionTitle title="Pachete Finisaje și dotări" id="finisaje-title" />
    <Finish />
    <!-- TODO: Add Dotari component -->
    <!-- <Dotari /> -->
  </section>

  <SectionTitle title="Listă detalii tehnice" id="tech-title" />
  <section id="tech" class="section-x-padding bg-main py-8">
    <div class="max-w-[95vw] lg:max-w-[1600px] mx-auto">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        {
          techDetails.map((detail: { title: string; value: string }) => (
            <div class="p-6">
              <h3 class="font-heading font-light text-xl mb-2 uppercase">{detail.title}</h3>
              <p class="text-lg">{detail.value}</p>
            </div>
          ))
        }
      </div>
    </div>
  </section>

  <!-- Location Map Section -->
  <section id="location" class="py-12 bg-main w-full">
    <SectionTitle title="Locație si mobilitate" id="location-title" />
    <div class="px-8 md:px-16">
      <Location />
    </div>
  </section>
</Layout>
