---
import type { SanityDocument } from "@sanity/client";
import { sanityClient } from "sanity:client";
import Layout from '../layouts/Layout.astro';
import { PortableText } from "astro-portabletext";
import urlForImage from "../utils/sanityImageUrl";
import { Image } from "astro:assets";


const POSTS_QUERY = `*[
  _type == "newsPost"
  && defined(slug.current)
]|order(date desc)[0...12]{_id, title, slug, date, text, image}`;

const posts = await sanityClient.fetch<SanityDocument[]>(POSTS_QUERY);

function formatDate(dateString: string): string {
  const date = new Date(dateString);
  const year = date.getFullYear();
  const month = (date.getMonth() + 1).toString().padStart(2, '0');
  const day = date.getDate().toString().padStart(2, '0');
  return `${year}-${month}-${day}`;
}

---

<Layout title="Noutati - Nosto">
    <section class="py-10">
        <h1 class="text-3xl font-bold text-center mb-4">Noutati</h1>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
            {posts.map((post: SanityDocument) => {
              const imageUrl = post?.image ? urlForImage(post.image)?.url() : null;
              return (
                <div class="bg-white rounded-lg shadow-md p-6">
                    <a href={`/noutati/${post.slug.current}`}>
                        {imageUrl && (
                            <Image
                                src={imageUrl}
                                alt={post.title}
                                class="aspect-video w-full max-w-2xl mx-auto rounded-xl object-cover shadow-lg"
                                inferSize={true}
                            />
                        )}
                        <h2 class="text-xl font-semibold mb-2">{post.title}</h2>
                    </a>
                    <p class="text-gray-600 mb-2">{new Date(post.date).toLocaleDateString('ro-RO')}</p>
                    <div class="text-gray-700 mb-2 prose">
                        <PortableText value={post.text} />
                    </div>
                </div>
              );
            })}
        </div>
    </section>
</Layout>